.hero {
	margin: 0 0 200px;
}

.hero__image {
	height: 520px;
	position: relative;
	overflow: hidden;
}

.hero__image::after {
	content: "CEO at CodeBerry School, Lead Project Manager at YearCompass Movement";
	position: absolute;
	width: calc(100% - 30px);
	height: 50px;
	left: 0;
	padding: 0 0 0 10px;
	bottom: 30px;
	box-sizing: border-box;
	background: white;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	font-family: "Source Sans Pro";
}

.hero__image img {
	width: 100%;
	object-fit: cover;
}

.hero .see-more {
	color: #64dcb0;
	text-align: center;
	display: flex;
	font-size: 45px;
	margin: 50px 0 0;
	align-items: center;
	justify-content: center;
}

.hero .see-more .fa {
	line-height: 56px;
	animation: pulse 2s infinite;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgb(100, 220, 176);
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(72, 169, 66, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(72, 169, 66, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgb(100, 220, 176);
		box-shadow: 0 0 0 0 rgb(100, 220, 176);
	}

	70% {
		-moz-box-shadow: 0 0 0 10px rgba(72, 169, 66, 0);
		box-shadow: 0 0 0 15px rgba(72, 169, 66, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(72, 169, 66, 0);
		box-shadow: 0 0 0 0 rgba(72, 169, 66, 0);
	}
}

.hero__title {
	font-size: 26px;
	z-index: 30;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 0 30px 0 0;
	text-align: right;
	font-family: "Source Sans Pro";
	font-weight: 100;
	color: #333333;
}

.hero__title .name {
	font-size: 76px;
}

@media only screen and (max-width: 768px) {
	.hero__title {
		font-size: 68px;
	}

	.hero__image {
		margin: 30px 0;
	}
}
