.hero {
	margin: 0 0 200px;
}

.hero__image {
	height: 550px;
	position: relative;
	transition: 1s cubic-bezier(0, 0.33, 0.6, 1) transform;
	transform: translateY(10%);
	transition-delay: .1s;
}

body.loaded .hero__image {
	transform: translateX(0);
}

.hero__image::after {
	content: "CEO at CodeBerry School, Lead Project Manager at YearCompass Movement";
	position: absolute;
	width: 90%;
	height: 50px;
	left: 0;
	bottom: 30px;
	box-sizing: border-box;
	background: white;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #525252;
	text-align: center;
}

.hero__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: saturate(0.5);
}

.hero__title {
	font-size: 66px;
	z-index: 30;
	position: relative;
	transition: 1s cubic-bezier(0.33, 0.33, 0.62, 1) transform;
	transform: translateX(-10%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 0 30px 0 0;
	text-align: right;
}

body.loaded .hero__title {
	transform: translateX(0%);
}
@media only screen and (max-width: 768px) {
	.hero__title {
		font-size: 68px;
	}

	.hero__image {
		margin: 30px 0;
	}
}
