.grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-gap: 10px;
	grid-auto-rows: minmax(300px, auto);
	grid-auto-flow: row dense;
	padding: 0;
}

.grid-item {
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #000;
	border-radius: 2px;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	background-position: center 0;
}

.grid-item:nth-child(odd) {
	background-color: #656565;
}

.span-2 {
	grid-column-end: span 2;
	grid-row-end: span 2;
}

.span-3 {
	grid-column-end: span 3;
	grid-row-end: span 2;
}

/* cards */
.cards {}

.cards-group {
	margin: 0 0 100px;
}

.cards-group#videos {
	margin: 0;
}

.cards h1 {
	font-size: 64px;
	color: #647ddc;
	margin: 0 0 50px;
	padding: 0 0 20px;
	text-align: center;
	font-family: "Source Sans Pro", "Roboto";
}

.cards .icon {
	width: 130px;
	margin: 0 30px 0 0;
}

.card {
	position: relative;
}

.card__top {
	display: flex;
	justify-content: space-between;
	z-index: 200;
}

.card__bottom {
	z-index: 10;
}

.lang {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	font-size: 16px;
	height: 35px;
	background: #082594;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 8000;
	color: white;
	font-weight: 700;
	transition: all .2s linear;
}

.video-card__top .fixed-lang {
	top: 10px;
	right: 10px;
	width: 50px;
	font-size: 14px;
	height: 30px;
	position: absolute;
	background: #082594;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 8000;
	color: white;
	font-weight: 700;
	transition: all .2s linear;
}

.video-card__top .fixed-lang .fa {
	margin: 0 5px 0 0;
	font-size: 14px;
}

.lang.hovered .fa {
	display: none;
}

.lang span {
	font-size: 11px;
	display: none;
	position: absolute;
}

.lang.hovered {
	width: 105px;
}

.lang__list {
	position: absolute;
	top: 55px;
	right: 20px;
	background: #ffffff;
	padding: 10px 20px;
	z-index: 3000;
	min-width: 50%;
	word-break: break-word;
	line-height: 20px;
	text-transform: none;
	font-weight: 100;
	font-size: 12px;
	max-height: 50%;
	overflow: scroll;
	display: none;
}

.media-card__top .lang__list {
	max-width: 100%;
	background: white;
	height: 100%;
	right: 0;
	max-height: calc(100% - 45px);
}

.lang__list .item {
	text-transform: none;
	font-weight: 400;
	padding: 4px 0;
	font-size: 13px;
	color: #333333;
	display: block;
}

.card-embed{
	padding: 0;
}
.card-embed iframe{
	height: 100% !important;
	width: 100% !important;
}

.card .title {
	text-transform: none;
	font-weight: bold;
	font-family: "Source Sans Pro";
}

.card .desc {
	text-transform: none;
	font-weight: 100;
	z-index: 10;
	position: relative;
}

.card .tags {
	display: flex;
	justify-content: flex-end;
}

.card .project-name {
	height: 30px;
	display: flex;
	align-items: center;
	letter-spacing: .5px;
}

.card .media-name {
	height: 30px;
	display: flex;
	align-items: center;
	letter-spacing: .5px;
}
/* cards properties depending on box size */
.span-1 .title {
	font-size: 16px;
	line-height: 20px;
}

.span-2 .title {
	font-size: 28px;
}

.span-3 .title {
	font-size: 36px;
}

.span-1 .desc {
	font-size: 13px;
	line-height: 18px;
	padding: 10px 0;
}

.span-2 .desc {
	padding: 20px 0;
	font-size: 16px;
	line-height: 22px;
}

.span-3 .desc {
	font-size: 18px;
	line-height: 26px;
	padding: 30px 0;
}

.span-1 .media-name,
.span-1 .project-name {
	font-size: 10px;
	padding: 0 10px;
}

.span-2 .media-name,
.span-2 .project-name {
	font-size: 12px;
	padding: 0 10px;
}

.span-3 .media-name,
.span-3 .project-name {
	font-size: 12px;
	padding: 0 15px;
}

.span-1 {}

.span-2 {}

.span-3 {}

.projects .card::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	background: rgb(1,10,52);
	background: linear-gradient(0deg, rgb(17, 27, 68) 0%, rgba(13, 115, 138, 0.37) 90%);
	z-index: 10;
	transition: all .3s linear;
}

.medias .card::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	background: rgb(1,10,52);
	background: linear-gradient(0deg, rgb(17, 27, 68) 0%, rgba(13, 115, 138, 0.37) 90%);
	z-index: 10;
}

.videos .card::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	background: rgb(3,42,51);
	background: linear-gradient(0deg, rgba(3,42,51,0.8841911764705882) 0%, rgba(1,211,254,0) 90%);
}

.projects .project-name {
	background: #bf4c64;
}

.medias .media-name,
.medias .project-name {
	background: #647ddc;
	margin: 0 0 0 10px;
	transition: all .4s linear;
}
.medias .media-name:hover,
.medias .project-name:hover{
	background: #4357a0;
	color: white !important;
}
.videos .project-name {
	background: #333333;
	padding: 0 10px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.media-card {
	border-radius: 3px;
	border: 1px solid #ececec;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 20px;
	position: relative;
	width: 49%;
}

.media-card__top {
	display: flex;
	justify-content: space-between;
}

.media-card__top .lang {
	padding: 0 10px;
	display: flex;
	align-items: center;
	width: 25px;
	height: 25px;
}

.media-card__top .project-name {
	font-size: 12px;
	padding: 5px 10px;
}

.media-card__bottom {
	margin: 60px 0 0;
}

.media-card__bottom .title {
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	max-width: 90%;
	font-family: "Source Sans Pro";
}

.media-card__bottom .desc {
	color: #1f1f1f;
	font-size: 14px;
	margin: 10px 0 0;
	line-height: 17px;
	font-weight: 100;
}

.media-card__bottom .media-name {
	color: #1d1d1d;
	font-size: 12px;
	text-align: right;
	display: block;
	margin: 10px 0 0;
}
@media only screen and (max-width: 1100px) {
	.grid-layout {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}

	.span-2,
	.span-3 {
		grid-column-end: span 1;
		grid-row-end: span 1;
	}
}
